.icons{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: flex-start;
    margin: 10px;
}

.icon{
    background-color: antiquewhite;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    display: flex;
    
}